.header {
  height: clamp(80px, 40svh, 1000px);
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 20px;
  justify-content: end;
  position: fixed;
  width: 100%;
  z-index: 10;
}

@media (max-width:1020px){
  .header{
    justify-content: space-between;
    height: clamp(80px, 10svh, 100px);
  }
}

@media (max-width: 780px) {
  .header{
    justify-content: end;
  }
}