.logo {
  position: fixed;
  left: 25px;
  top: 35px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: max(3vw, 48px);
  cursor: pointer;
  transform-origin: 4px 0px;
  color: white;
  mix-blend-mode: difference;
  line-height: 70%;
  overflow: hidden;
  z-index: 11;
  width:auto;
  span{
    display: block;
    transform: translateX(-3%);
  }
}

.logo.animate {
  transition: 0.3s ease-in-out;
}

.logo.big {
  width:65vw;
  font-size: 19vw;
}

.logo:hover {
  opacity: 0.6;
}

@media (max-width: 1020px) {
  .logo.big {
    transform: scale(1);
    top: 93px;
    left: 25px;
    width: calc(100% - 25px);
    font-size: 30.5vw;
  }

  .logo.animate {
    transition: 0.3s ease-in-out;
  }
}

@media (max-width: 780px) {
  .logo.big {
    transform: scale(1);
    top: 35px;
    left: 25px;
    width: auto;
    font-size: max(3vw, 48px);
  }
}
